body{
    background-image: url(https://placeimg.com/640/480/animals?t=1667090476630);
    background-repeat: no-repeat;
    background-size: 100%;
}

h3{
    width: 1000;
    height: 500;
    overflow: scroll;
}