.container{
    background-color: pink;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item{
    width: 50px;
    height: 50px;
}
.item1{
    background-color: beige;
}
.item2{
    background-color: orange;
}
.item3{
    background-color: skyblue;
}
.item4{
    background-color: rgb(160, 95, 143);
}
.item5{
    background-color: rgb(135, 160, 95);
}
.item6{
    background-color: cadetblue;
}
.item7{
    background-color: rgb(160, 132, 95);
}
.item8{
    background-color: rgb(200, 212, 92);
}